/* Basic styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'K2D-Semibold';
    src: url(../assets/fonts/K2D-SemiBold.ttf) format('truetype');
}

:root {
    --font-family: 'K2D-Semibold', sans-serif;
}

/* Sidebar styles */
body {
    font: 16px sans-serif;
    color: white;
    background: #222;
    overflow: hidden;
}

/* Button styles */
button, input[type="text"], input[type="number"], .select-container, select {
    color: white;
    background: #444;
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
}

#main-content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    height: 100vh;
    background: linear-gradient(to bottom right, #00174a, #2c0c3f, #3e0031, #470020, #48000e);
}

#main-content h2 {
    font-size: 2em;
    margin-bottom: 2em;
}

#navigation-buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#navigation-buttons button {
    background-color: #222642;
    border-radius: 20px;
    padding: 1em 2em;
    font-size: 1.2em;
    width: 12em;
    transition: background-color 0.3s ease;
}

#navigation-buttons button:hover {
    background-color: #444b7a;
}

#main-content {
    display: flex;
    flex-direction: column;
}

.all-the-thingies {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.power {
    height: 75vh;
    width: 20vw;
    background-color: red;
    margin-right: 10vw;
}

.other {
    height: 75vh;
    width: 20vw;
    background-color: red;
    margin-left: 10vw;
}

.time h1 {
    text-align: center;
    font-family: var(--font-family);
    font-size: 10vh;
}

#field-container {
    position: relative;
    width: 1020px;
    height: 200px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#field-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#robot-indicator {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease;
}

#field-and-gyro-container {
    display: flex;
    gap: 20px;
}