/* Basic styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}

/* Sidebar styles */
aside#sidebar-menu {
    position: fixed;
    left: -20vw;
    top: 1.75vh;
    width: 20vw;
    height: 96.5vh;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.5s ease;
    z-index: 1000;
    padding: 40px 20px 20px;
    border-radius: 10px;
}

aside#sidebar-menu.open {
    left: 20px;
    display: block;
}

/* Sidebar content */
#menu-content {
    color: white;
}

#menu-content h3 {
    margin-bottom: 20px;
}

/* Close button */
#close-menu {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Menu trigger styles*/
#menu-trigger {
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    transition: left 0.5s ease, transform 0.5s ease;
    z-index: 1100;
}

#menu-trigger.open {
    left: calc(20vw + 30px); /* Moves the trigger along with the menu */
    transform: rotate(90deg);
}

#menu-icon {
    width: 50px;
    height: 50px;
    transition: transform 0.5s ease;
}

/* Hide original content under the sidebar */
/* aside#sidebar-menu.open ~ * {
    filter: blur(2px);
} */

/* Body */
body {
    font: 16px sans-serif;
    color: white;
    background: #222;
    overflow: hidden;
}

/* Button styles */
button, input[type="text"], input[type="number"], .select-container, select {
    color: white;
    background: #444;
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
}

/* Welcome page specific styles */
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #00174a, #2c0c3f, #3e0031, #470020, #48000e);
    /* filter: blur(1vh); */
}

#main-content h2 {
    font-size: 2em;
    margin-bottom: 2em;
}

#navigation-buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#navigation-buttons button {
    background-color: #222642;
    border-radius: 20px;
    padding: 1em 2em;
    font-size: 1.2em;
    width: 12em;
    transition: background-color 0.3s ease;
}

#navigation-buttons button:hover {
    background-color: #444b7a;
}

/* SVG Animation */
/* #menu-trigger.open {
    transform: rotate(90deg);
} */

#connect-address {
    background-color: #222642;
    border-radius: 20px;
    width: 10vw;
    height: 5vh;
}

#connect button {
    background-color: #222642;
}


.menu-list button {
    margin: 1vh;
    border-radius: 1vw;
    padding: 2vh;
    background-color: hsla(213, 100%, 29%, 0.3);
    transition: background-color 0.3s ease;
}

.menu-list button:hover {
    background-color: #444b7a;
}

.menu-title {
    text-align: center;
    margin-bottom: 2vh;
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


#login {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#menu-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dropdown-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
    background: hsla(213, 100%, 29%, 0.3);
    border-radius: 1vw;
    padding: 2vh;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.dropdown-button:hover {
    background-color: #444b7a;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    background-color: hsla(213, 100%, 29%, 0.3);
    border-radius: 1vw;
    padding: 1vh;
    margin-top: 1vh;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    overflow: hidden;
    opacity: 0;
    align-items: center;
    justify-content: flex-start;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    padding: 1vh;
    margin: 0.5vh 0;
    background-color: hsla(213, 100%, 29%, 0.3);
    border-radius: 1vw;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #444b7a;
}

.dropdown-content.show {
    display: flex;
    max-height: 200px; /* Adjust as needed */
    opacity: 1;
}